    <div class="modal fade">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="c()" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title">{{title}}</h3>
            </div>

            <form id="my_form" name='form1' class="form-horizontal" role="form" novalidate>
                <div class="modal-body">
                    <p>
                        Creer ou editer une categorie
                    </p>
                    <hr />
                    <div class="container-fluid">
                        <div class="col-md-12">
                      
                            <div class="row">
                                <label class="col-sm-3 control-label">Nom</label>
                                <div class="col-sm-9" style="margin-bottom:5px;">
                                    <input type="text" class="form-control" ng-model="personne.nom" name="nom" value="" ng-required="true" />
                                </div>

                            </div>
                                <div class="row">
                                    <label class="col-sm-3 control-label">Prenom</label>
                                    <div class="col-sm-9" style="margin-bottom:5px;">
                                        <input type="text" class="form-control" ng-model="personne.prenom" name="nom" value="" ng-required="true" />
                                    </div>

                                </div>
                           
                             <div class="row">
                                <label class="col-sm-3 control-label">Sexe</label>
                                <div class="col-sm-9" style="margin-bottom:5px;">
                                    <input type="text" class="form-control" ng-model="personne.sexe" name="nom" value="" ng-required="true" />
                                </div>

                            </div>
                                <div class="row">
                                    <label class="col-sm-3 control-label">Photo</label>
                                    <div class="col-sm-9" style="margin-bottom:5px;">
                                        <input type="text" class="form-control" ng-model="personne.photo" name="nom" value="" ng-required="true" />
                                    </div>

                                </div>
                             <div class="row">
                                <label class="col-sm-3 control-label">Email</label>
                                <div class="col-sm-9" style="margin-bottom:5px;">
                                    <input type="text" class="form-control" ng-model="personne.email" name="nom" value="" ng-required="true" />
                                </div>

                            </div>
                                <div class="row">
                                    <label class="col-sm-3 control-label">Date Naissance</label>
                                    <div class="col-sm-9" style="margin-bottom:5px;">
                                        <input type="text" class="form-control" ng-model="personne.dateDenaissance" name="nom" value="" ng-required="true" />
                                    </div>

                                </div>
                            
                              <div class="row">
                                <label class="col-sm-3 control-label">Nationalite</label>
                                <div class="col-sm-9" style="margin-bottom:5px;">
                                    <input type="text" class="form-control" ng-model="personne.nationalite" name="nom" value="" ng-required="true" />
                                </div>

                            </div>
                                
                           
                        </div>
                        
                        
      
                   
                    </div>
                      
                    <div class="modal-footer">
                        <button type="button" ng-click="close()"  class="btn btn-warning" data-dismiss="modal">Save</button>
                        <button type="button" ng-click="cancel()" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                    </div>
                    

                </div>

            </form>

        </div>


    </div>
</div>
